@import 'variables';

.clr-danger{
    background: red;
    color: unset;
}
.clr-primary{
    background: #1e87f0;
}
.clr-warning{
    background: #faa05a;
}

ul{
    li{

        .nav-treeview{
            border: 1px solid rgba(200,200,200, 0.7);
            border-top: 0px;
            border-radius: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            a{
                padding-left: 25px;
            }
        }

        // &.menu-open{
            
        // }
    }
}

body{
     
    .uk-modal{
        z-index: 2000;
    }

    &.dark-mode{
        
        .uk-modal-body{
            background: $darkMode_bg;
            color: $darkMode_clr;
        }
    }

    header{

        &.header-filter{

            background: $second-color-lg;            

            form{
                padding: 15px 0;
    
                input:not([type="checkbox"]){
                    padding: 5px 10px;
                    width: 190px;
                }

                [type="submit"]{
                    display: none;
                }
    
                label{
                    margin: 0;
                }
            }
        }
    }

    .area_actions{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    // &.layout-footer-fixed{
    //     .wrapper .content-wrapper{
    //         padding-bottom: 20px;
    //     }
    // }
}