@import 'variables';

.header-filter{

    form{
        padding: 15px 0;

        input:not([type="checkbox"]){
            padding: 5px 10px;
            width: 190px;
        }

        label{
            margin: 0;
        }
    }
}

tr{
    &.deleted{
        opacity: .7;
        background: rgba(100,50,50,0.5);
    }
    &.not_viewed_admin{
        background: $second-color-dark;
    }
}
