// Variables
@import 'variables';
// Bootstrap
@import 'bootstrap/scss/bootstrap';

// animation
@keyframes work_item_hover {
    0%{
        left: 0;
        top: 0;
    }
    30%{
        // bottom: 0;
        // top:unset;
        height: 100%;
        width: 10px;
    }
    60%{
        bottom: 0;
        top:unset;
        width: 10px;
    }
    80%{
        width: 20%;
        height: 2px;
    }
    100%{
        right: 0;
        left: auto;
    }
}

*,
*:hover,
*::after,
*::before{
    transition-duration: .3s;
}

body, html{
    height: 100%;
    background: var(--body-bg);
    color: var(--main-clr-text);
}
ul,li,p{
    margin: 0;
    padding: 0;
}
.btn{
    border-radius: 10px;
    border: 0px;
    text-transform: uppercase;
}

.clr-danger{
    color: $clr-danger;
}
.custom-close-icon{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    background: $clr-danger;
    color: var(--body-bg);
    cursor: pointer;
}

.root{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;

    header{

        position: relative;

        &.header{

            background: $header-bg;

            ul.header-main{
                display: flex;
                padding: 20px 10px;

                li{
                    
                    display: block;
                    padding-left: 10px;
                    padding-right: 5px;
                    position: relative;

                    a{
                        text-transform: uppercase;
                        color: var(--header-link-color);
                        text-decoration: none;
                        font-weight: 600;

                        &:visited{
                            color: var(--header-link-clr-visited);
                        }
                    }

                    &.animated{
                        overflow: hidden;
    
                        &::after{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            
                            width: 4px;
                            height: 4px;
    
                            background: var(--header-link-clr-visited);
                        }
    
                        &:hover{
    
                            a{
                                color: $header-link-color-hv;
                            }
    
                            &::after{
                                bottom: 0;
                                top:unset;
                                height: 2px;
                                width: 50px;
                                left: 70%;
                            }
                            
                        }
                    }
                    

                }
            }

            .theme-toggle{

                top: 80px;
                left: 20px;
                width: 30px;
                height: 30px;
                cursor: pointer;
                background: white;
                border: 1px solid rgba(0, 0, 0, 0.5);
                z-index: 120;
                overflow: hidden;
                position: fixed;
                opacity: 0.4;
                
                &:hover{
                    opacity: 1;
                }

                &::after{
                    content: '';
                    width: 100%;
                    height: 200%;
                    right: -9px;
                    top: -2px;
                    transform: rotate(45deg);
                    background: black;
                    position: absolute;
                    z-index: 115;
                }

                &.active{
                    filter: invert(1);
                }

            }
        }

        &.header-filter{

            background: var(--header-link-clr-visited-lt);

            ul{
                display: flex;
                margin: 10px 0;

                li{
                    display: flex;

                    .btn{

                        svg{
                            width: 30px;
                            color: var(--main-clr-text);
                        }
                    }
                    .inputs{
                        display: none;
                        flex: 1;

                        input{
                            width: 100%;
                            padding: 5px 20px;
                            outline: none;
                            border: 0;
                            background: rgba(white, 0.6);
                        }
                    }

                    &.active{

                        .inputs{
                            display: flex;
                        }
                    }
                }

                [type="submit"]{
                    display: none;
                }

                &.one-row{
                    
                    li{
                        margin-right: 10px;
                    }
                }

                &.active{

                    [type="submit"]{
                        display: block;
                    }
                    &.one-row{

                        >*.active{
                            width: 32%;
                        }
                    }
                }
            }
        }
    }

    footer{
        padding: 20px 0;
        background: $footer-bg;
        // color: var(--main-clr-text);
        color: white;

        a{

            // color: lighten(var(--header-link-clr-visited), 30);

            transition-duration: .2s;

            &:hover{
                color:  var(--header-link-clr-visited-lt);
                transition-duration: .2s;
            }
        }

        .content{
            // width: fit-content;
            

            .socials{
                display: flex;
                justify-content: space-between;
                align-items: center;

                li{
                    display: block;

                    a{
                        text-decoration: none;
                    }
                }
            }
        }

        .copyrithg{
            width: fit-content;
            margin: 0 auto;
            margin-top: 80px;
        }
    }

    main{
        padding: 10px 0;
        flex: 1;
    }

    .area_actions{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}


.uk-modal-dialog{
    background: var(--body-bg);
    color: var(--main-clr-text);
}
.uk-button-default{
    color: var(--main-clr-text);
    border: 1px solid var(--btn-default-border-clr);

    &:hover{
        color: var(--main-clr-text-hv);
    }
}