// Variables
@import 'variables';

html{

    .work{
        box-shadow: 0px 5px 20px var(--shadow-clr);
    }

    &.dark{
        .work{
            box-shadow: 0px 5px 30px var(--shadow-clr);
        }
    }
    
}
.work{
    display: flex;
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    justify-content: space-between;
    overflow: hidden;
    height: 190px;
    cursor: pointer;

    // .border{
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 100%;

    // }

    .content{
        height: 100%;
        z-index: 3;
        display: flex;
        width: 90%;
        position: relative;
        flex-direction: column;
        justify-content: space-between;

        p{
            white-space: nowrap;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2; 
            display: block; 
            -webkit-box-orient: vertical; 
            overflow: hidden; 
            cursor: auto;
        }

        .link{
            display: flex;
            margin-top: 10px;
            width: fit-content;

            // background: black;
            // padding: 3px 5px;
            // align-items: center;
        }

        .works_gallery{

            position: absolute;
            display: flex;
            z-index: -1;
            max-width: 100%;
            top: -5px;
            left: -5px;
            max-height: 100%;

            img{
                min-width: 40px;
                max-height: 100%;
                width: 20%;
                filter: blur(3px) brightness(0.4);
            }
        }
        .addition_info{
            margin-top: auto;
        }
    }
    .area_actions{

        >div{
            margin-bottom: 5px;

            .btn_delete{
                
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }

    &.work_have_preview{
        padding-bottom: 10px;

        .addition_info{
            // background: var(--shadow-clr);
        }
    }

    &::after,
    &::before{
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        
        height: 10px;
        width: 10px;
        background: #000;
    }

    &::before{
        left: 0;
        top: 0;
        transition-duration: .5s;
    }    

    &::after{
        right: 0;
        bottom: 0;
        transition-duration: .5s;
    }

    &:hover{

        // // create animation
        // &::before{
        //     animation: work_item_hover ease 1s;
        // }
        &::before{
            top: calc(100% - 30%);
            transition-duration: 1s;
            height: 30%;
            width: 10%;
            background: rgba(0, 0, 0, 0.201);
        }
        &::after{
            bottom: calc(100% - 10px);
            height: 10px;
            width: 50%;
            background: var(--shadow-clr);
            transition-duration: 1s;
        }
    }
    // &.hovered{
        
    //     &::before{
    //         bottom: 0;
    //         top:unset;
    //         height: 2px;
    //         width: 30%;
    //         right: 0;
    //         left: auto;
    //     }
    // }
}

.work-detail{

    img{
        height: 100%;
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }    
}